*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-image: url('../main/peggy-gou-kirin-launch-1-1280x853.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav1{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    padding: 10px;
    background-color: rgba(0,0,0,0.5) ;
}
.nav1 li:first-child{
     margin-right: auto;

}
.menuicon{
    display: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(239, 231, 231);
}
.nav2{
    display: none;
    top: 0;
    right: 0;
    position: fixed;
    width:40%;
    height: 100vh; 
    flex-direction:column;
    justify-content: flex-start;
    gap: 10%;
    padding: 10px;
    background-color: rgba(0,0,0,0.5) ;
    z-index: 999;
}
h1{
    font-size: 500%;  
    width: 100%;
    text-align: center;
  }
  form{
      width:50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color:transparent ;
      margin: auto ;
      border-radius: 10px;
      border: 1px solid black;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
      padding: 20px;
  }
  
  input{
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 2px solid rgb(239, 231, 231);
      outline: none;
      color: black;
      border-radius: 20px;
      margin-bottom: 10px;
      
  }
  input[type="submit"]:hover{
      background-color: rgba(0, 0, 0, 0.453);
      border: 0;
      color: aliceblue;
  }
  .rm{
    width: unset;
    margin-right: 10px;
     
  }
  .rml{
    display: block;
  }
  form a{
    text-align: center;
  }
  
  


@media (max-width:800px){
    .tohide{
        display: none;
    }
    .menuicon{
        display: block;
    }
    .toshow .nav2{
        display: flex;
       
    }

}

